<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%=htmlWebpackPlugin.options.title %></title>
	
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
	<header>
		
	</header>
	<div id="content">
		
	</div>
	<footer>
		<div id="app">React Application placeholder</div>
	</footer>
  </body>
</html>
